body {
  transition: background-color 0.3s, color 0.3s;
}
/* Light Mode */
body {
  background-color: #ffffff;
  color: #000000;
}
.navbar {
  background-color: #f8f9fa;
  color: #000000;
}
.navbar .nav-link {
  color: #000000;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.54%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.footer {
  background-color: #f8f9fa;
}
.list-group-item:hover {
  background-color: #e9ecef;
}
/* Dark Mode */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #050505;
      color: #ffffff;
  }
  .navbar {
      background-color: #121212;
      color: #ffffff;
  }
  .navbar .nav-link {
      color: #ffffff;
  }
  .navbar .navbar-toggler {
      border-color: rgba(15, 15, 15, 0.1);
  }
  .navbar .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .list-group-item {
      background-color: #1f1f1f;
      border-color: #2a2a2a;
      color: #ffffff;
  }
  .list-group-item:hover {
      background-color: #343a40;
      color: #ffffff;
  }
  .footer {
      background-color: #121212;
      color: #ffffff;
  }
}